.footer-anchor{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 0.875rem;
    background-color: #f6d78cd4;
}

.footer-anchor, .footer-anchor:active, .footer-anchor:hover{
    color: #333;
    text-decoration: none;
}

.footer-anchor:hover{
    color: black;
}